<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP85_via_FastCGI" />
            <add name="PHP85_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule"
                scriptProcessor="C:\PHP\PHP85\php-cgi.exe" resourceType="Either" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="Laravel Routing" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>